div
  p In order to login, you need to authorize this application to access you StackExchange account
  a.btn.btn-primary(href='', role='button', ng-click='connectToStackExchange();') StackExchange login
