extends layout

block content
  .jumbotron
    h3 Sujet 1: Développer une application AngularJS pour afficher du contenu obtenu via l'API StackExchange
    ul
      li
        | étudier l'API offerte par StackExchange (
        a(href='https://api.stackexchange.com/docs') https://api.stackexchange.com/docs
        | )
      li choisir et spécifier la fonctionnalité, en étant créatif et original
      li intégrer une visualisation de données dans votre UI (choisissez une librairie de visualisation à votre convenance)
      li soigner la présentation (IHM)
      li déployer l'application sur heroku
      li écrire un rapport pour expliquer comment l'application a été réalisée
      li publier l'ensemble dans un repo GitHub 
